.calculator-container section {
    background-color: #ffffe09c;
    width: 55vw;
    min-width: 925PX;
    max-width: 1140px;
    justify-content: center;
    display: inline-grid;
    align-content: space-between;
    padding: 25px;
    margin: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
}

.calculator-container button {
    width: 100px;

}

#testlevel {
    min-width: 390px;
}

#level-calc {
    min-height: 450px;
    text-align: center;
}

.images-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.vocation-image {
    width: 45px;
    height: 45px;
    transition: all 0.3s ease, filter 0.3s ease;
}

.vocation-image.selected {
    width: 55px;
    height: 55px;
    filter: none;
    z-index: 1;
}

.vocation-image:not(.selected) {
    filter: blur(4px);
    opacity: 0.6;
}


#skill-calc {
    height: 100vh;
    max-height: 475px;
}

#skill-calc button{
    transform: translate(100%);
}

#skillResult {
    text-align: center;
}

.stat-icon {
    width: 17px;
    margin-right: 8px;
    vertical-align: middle;
}

#resultLevel {
    font-size: 0.8rem;
}

#resultLevel span {
    display: block;
}


