#tools-section {
    text-align: center;
    background-color: #ffffe0db;
    max-width: 1000px;
    min-height: 1900px;
    justify-content: center;
    padding: 25px;
    border-radius: 8px;
}

#tools {
    display: grid;
    grid-template-areas: 
    "articule articule"
    "articule articule"
    "articule articule";
    justify-content: space-evenly;
}

#tools article {
    max-width: 450px;
    width: 90%;
    height: 90%;
    min-height: 325px;
    padding: 10px;
    margin: 10px;
    border: 2px solid brown;
    border-radius: 10px;
    font-size: 0.85rem;
}

#tools article:hover {
    background-color: #ccbb9e;
    cursor: pointer;
}

.tool-description {
    text-align: center;
    align-items: baseline;
    width: 90%;
    display: inline-block;
}

#tools img {
    width: 75px;
    padding: 25px;
}