
#home-container {
    min-height: 800px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr; /* Izquierda: 2 partes, Derecha: 1 parte */
    grid-template-rows: auto auto auto; /* Tres filas automáticas */
    gap: 20px;
    /* Áreas del layout */
    grid-template-areas:
        "section1"
        "section2"
        "section3"
        "section4";
}

#welcome-container {
    min-height: 400px;
}



#welcome-container img {
    max-width: 40px;

}

#welcome-container h1 {
    font-family: 'Vaspera', serif;
    font-size: 3rem;
    margin: 0;
    color: #a52a2a;
}




/* Estilo de cada sección */
#home-container section {
    background-color: #ffffe0db;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-content: center;
    
}



#home-container section h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    padding: 0 0 20px;
}



#tools-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1060px;
    max-height: 100px;
    min-height: 50px;
    overflow: hidden;
}

#shortcuts-tools {
    display: flex;
    gap: 30px;
    overflow: hidden;
    width: 100%;
    scroll-behavior: smooth;
    flex-shrink: 0;
    justify-content: space-evenly;
}

#shortcuts-tools a img {
    min-width: 75px;
    max-width: 85px;
    width: 10vw;
    min-height: 75px;
    height: 10vh;
    max-height: 85px;
    background-color: #ccbb9e;
    border-radius: 99px;
    object-fit: contain;
    transition: transform 0.5s ease-in-out;
}

#prev img, #next img {
    width: 40px;
    object-fit: contain;
}

#prev {
    position: absolute;
    left: -5px;
}

#next {
    position: absolute;
    right: -5px;
}

#prev, #next {
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    max-width: 60px;
    max-height: 60px;
}

/* Tips seccion*/
#home-tips {
    grid-area: section3;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 200px;
}

#tips-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Última sección ocupa todo el ancho */
#news-container {
    grid-area: section4;
}

.news-text {
    overflow-y: scroll;
    height: 1000px;
    padding: 15px;
    background-color: #ccbb9e;
    border-radius: 8px;
    border: 2px solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    min-height: 200px;
  }
  
  .error-message h2 {
    margin-bottom: 10px;
  }
  
  .error-message p {
    margin-bottom: 20px;
  }
  


.news-text h2 {
    color: white;
}


/* Estiliza la barra de desplazamiento */
.news-text::-webkit-scrollbar {
    width: 10px; /* El grosor de la barra de desplazamiento */
}

/* Estiliza el fondo de la barra de desplazamiento */
.news-text::-webkit-scrollbar-track {
    background-color: #f1f1f18f; /* Color de fondo de la pista de la barra */
    border-radius: 10px;
}

/* Estiliza el "thumb" (la parte que se mueve) */
.news-text::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 10px;
    border: 2px solid #f1f1f1; /* Borde del thumb */
}

/* Efecto al pasar el mouse sobre el "thumb" */
.news-text::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color cuando el mouse pasa sobre el thumb */
}


#news-container #loader {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 50%;
    z-index: 100;
}

.news-text img {
    max-width: 40vw;
    object-fit: contain;
}


/* Media Query para activar el carrusel a partir de 1400px */
@media (max-width: 1615px) {
    #shortcuts-tools {
        max-width: 100%;
        overflow: hidden;
        flex-wrap: nowrap;

    }
}

@media (max-width: 1280px) {
    #welcome-container {
        min-height: 400px;
        
    }


    #shortcuts-tools {
        gap: 15px;

    }

}



/* Pantallas medianas (tabletas) */
@media (max-width: 900px) {

    #welcome-container {
        overflow-y: auto;
    }

    #home-container section {
        width: 75vw;
        max-width: 630px;
        
    }


    #news-container #loader {
        top: 85%;
    }

    #home-container h2 {
        font-size: 1.2rem;
    }


    #shortcuts-tools a {
        flex: 0 0 90px; /* Cada opción tiene un ancho fijo */
        transition: opacity 0.5s ease-in-out;
    }

    #shortcuts-tools {
        gap: 25px;
        padding-left: 30px;

    }


    .news-text p {
        text-align: center;
    }

    #home-container aside section {
        min-width: 250px;
        
    }

    #shortcuts-section {
        max-width: 635px;
        min-height: 250px;
    }

    #shortcuts-section section {
        width: 70vw;
    }

    
}


@media (max-width: 575px) {
    

#home-container section {
    width: 65vw;
}

    .news-text {
        width: 58vw;
    }


    #shortcuts-section section {
        min-width: 250px;
        width: 58vw;
    }

    #home-container aside section {
        min-width: 230px;
        
    }

    #shortcuts-tools {
        gap: 12px;
        padding-left: 12px;
    }

    


}


