.contenedor-informacion {
    padding: 20px;
}


#home-container {
    min-height: 800px;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Izquierda: 2 partes, Derecha: 1 parte */
    grid-template-rows: auto auto auto; /* Tres filas automáticas */
    gap: 20px;

    /* Áreas del layout */
    grid-template-areas:
        "section1 aside"
        "section2 aside"
        "section3 section3";
}

#tips-container {
    grid-area: section1;

}

#tips-container img {
    max-width: 350px;
    min-width: 150px;
    width: 12vw;
}



#shortcuts-tools {
    grid-area: section2;
    max-height: 185px;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    
    
}

#home-container section:nth-child(3) {
    grid-area: section3;

}

/* Estilo de cada sección */
#home-container section {
    background-color: #ffffe09c;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-content: center;
    
}



#home-container section h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    padding: 0 0 20px;
}



#shortcuts-tools a {
    flex: 0 0 125px; /* Cada opción tiene un ancho fijo */
    transition: opacity 0.5s ease-in-out;
    

}

/* Ocultar elementos */
#shortcuts-tools a.hidden {
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none; /* Evita la interacción */
}

/* Activar el carousel */
#shortcuts-tools.carousel-active {
    justify-content: flex-start;
}

#shortcuts-tools a img {
    min-width: 50px;
    max-width: 85px;
    width: 10vw;
    min-height: 50px;
    height: 10vh;
    max-height: 85px;
    background-color: #ccbb9e;
    border-radius: 99px;
    object-fit: contain;
    
}

/* Aside a la derecha */
.contenedor-informacion aside {
    grid-area: aside;
    background-color: #ffffe0;
    padding: 15px;
    border: 2px solid #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.contenedor-informacion aside img {
    width: 14vw;
    max-width: 300px;
    min-width: 200px;
    height: auto;
}

.contenedor-informacion aside section {
    margin: 10px 0;
}

#shortcuts-section section {
    transition: opacity 1s ease-in-out, visibility 0s 1s; /* Añadimos un retraso para visibility */
    height: 40%;
    visibility: hidden;
    opacity: 0;
    display: none;
}

#shortcuts-section section.visible {
    transition: opacity 1s ease-in-out, visibility 0s; /* Sin retraso cuando está visible */
    visibility: visible;
    opacity: 1;
    display: flex;
}


#shortcuts-section section.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.legends-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#legend-name {
    display: flex;
    padding: 10px;
    text-align: center;
}

#legend-name h6 {
    padding: 0 15px;
}

#legend-name img {
    width: 30px;
    min-width: 30px;

}

.legends-info span p {
    font-size: 0.6rem;
}



/* Contenedor para el texto */

/* Última sección ocupa todo el ancho */
#news-container {
    grid-column: 1 / -1; /* Ocupa ambas columnas */
    grid-row: 3; /* Se coloca en la tercera fila */
}

.news-text {
    overflow-y: scroll;
    height: 475px;
    padding: 15px;
    background-color: #ccbb9e;
    border-radius: 8px;
    border: 2px solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.news-text h2 {
    color: white;
}


/* Estiliza la barra de desplazamiento */
.news-text::-webkit-scrollbar {
    width: 10px; /* El grosor de la barra de desplazamiento */
}

/* Estiliza el fondo de la barra de desplazamiento */
.news-text::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la pista de la barra */
    border-radius: 10px;
}

/* Estiliza el "thumb" (la parte que se mueve) */
.news-text::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 10px;
    border: 2px solid #f1f1f1; /* Borde del thumb */
}

/* Efecto al pasar el mouse sobre el "thumb" */
.news-text::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color cuando el mouse pasa sobre el thumb */
}


#news-container #loader {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 50%;
    z-index: 100;
}

.news-text img {
    max-width: 40vw;
}


/* Media Query para activar el carrusel a partir de 1400px */
@media (max-width: 1615px) {
    #shortcuts-tools {
        max-width: 100%;
        overflow: hidden;
        flex-wrap: nowrap;

    }
}



/* Pantallas medianas (tabletas) */
@media (max-width: 850px) {

    
    #home-container {
        grid-template-columns: 1fr; /* Solo una columna */
        grid-template-areas:
            "section1"
            "section2"
            "aside"
            "section3";
    }

    #home-container section:last-child {
        grid-row: 4;
    }

    #home-container section {
        width: 72vw;
        padding: 10px;
        max-width: 630px;
        
    }


    #news-container #loader {
        top: 60%;
    }

    #home-container h2 {
        font-size: 1.2rem;
    }

    #shortcuts-tools {
        gap: 20px;

    }

    #shortcuts-tools a {
        flex: 0 0 110px; /* Cada opción tiene un ancho fijo */
        transition: opacity 0.5s ease-in-out;
    
    }

    .news-text {
        height: 450px;
        width: 64vw;
    }

    .news-text p {
        text-align: center;
    }

    #home-container aside section {
        min-width: 250px;
        
    }

    #shortcuts-section {
        max-width: 600px;
        min-height: 300px;
    }

    #shortcuts-section section {
        width: 68vw;
    }

    
}



@media (max-width: 480px) {
    
    .news-text {
        width: 62vw;
    }


    #shortcuts-section section {
        min-width: 250px;
        width: 62vw;
    }
    

}


