

.contenedor-informacion h2 {
    text-align: center;
}

/* Estiliza la barra de desplazamiento */
#creaturesContainer::-webkit-scrollbar {
    width: 10px; /* El grosor de la barra de desplazamiento */
}

/* Estiliza el fondo de la barra de desplazamiento */
#creaturesContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la pista de la barra */
    border-radius: 10px;
}

/* Estiliza el "thumb" (la parte que se mueve) */
#creaturesContainer::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 10px;
    border: 2px solid #f1f1f1; /* Borde del thumb */
}

/* Efecto al pasar el mouse sobre el "thumb" */
#creaturesContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color cuando el mouse pasa sobre el thumb */
}


/* Estiliza la barra de desplazamiento */
.creature-data::-webkit-scrollbar {
    width: 10px; /* El grosor de la barra de desplazamiento */
}

/* Estiliza el fondo de la barra de desplazamiento */
.creature-data::-webkit-scrollbar-track {
background-color: #f1f1f1; /* Color de fondo de la pista de la barra */
border-radius: 10px;
}

/* Estiliza el "thumb" (la parte que se mueve) */
.creature-data::-webkit-scrollbar-thumb {
background-color: #888; /* Color del thumb */
border-radius: 10px;
border: 2px solid #f1f1f1; /* Borde del thumb */
}

/* Efecto al pasar el mouse sobre el "thumb" */
.creature-data::-webkit-scrollbar-thumb:hover {
background-color: #555; /* Color cuando el mouse pasa sobre el thumb */
}


#creaturesContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    padding: 20px;
    max-height: 80vh; /* Limitar el tamaño máximo al 80% del alto de la pantalla */
    overflow-y: auto; /* Agregar scroll si es necesario */
}

#filter-creature {
    position: relative;
    background-color: rgba(245, 245, 220, 0.596);
    left: 85%;
    transform: translate(-50%,-250%);
    bottom: 5%;
    border: none;
    border-radius: 4px;
    width: 100px;
}



/* Estilo de cada tarjeta */
.creature-card {
display: flex;
flex-direction: column;
align-items: center;
border-radius: 4px;
cursor: pointer;
}

.close-creature {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 95%;
}

/* Imagen de la criatura */
.creature-image {
max-width: 60px;
min-width: 35px;
object-fit: contain;
}

/* Nombre de la criatura */
.creature-name {
margin-top: 10px;
font-size: 14px;
font-weight: bold;
text-align: center;
}


.creature-data {
    padding: 20px;
    min-height: 650px;
    max-height: 1000px;
    width: 90%;
    height: 60%;
    left: 50%;
    top: 50%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 0.8rem;
    overflow-y: auto;
    display: inline-flex;
}

.creature-data h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 50%;
}

#creatureImage {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    position: absolute;
    left: 10%;
    top: 5%;
}


#mainTable, #secondaryTable {
    margin-bottom: 20px;
}

#mainTable table {
    width: 72%;
    border-collapse: collapse;
    top: 25%;
    position: absolute;
}

#secondaryTable table {
    max-width: 150px;
    border-collapse: collapse;
    font-size: 0.7rem;
    top: 10%;
    left: 77%;
    position: absolute;
}

#mainTable td, #secondaryTable td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#mainTable td:first-child, #secondaryTable td:first-child {
    font-weight: bold;
}

#creature-tips {
    position: absolute;
    top: 60%;
    background-color: beige;
    border-radius: 4px;
    width: 70%;
    height: 30%;
}

.value-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}



@media (max-height: 850px) {

    
}

@media (max-height: 650px) {
    #creaturesContainer {
        max-height: 115vh;
    }
    
}

@media (max-width: 1200px) {


    #mainTable {
        width: 320px;
    }
    

    #secondaryTable {
        margin: -5%;
    }

    

    .value-icon {
        width: 15px;
        height: 15px;
    }
}


@media (max-width: 975px) {
    

    #creaturesContainer {
        grid-template-columns: repeat(4, 1fr);
    }

    #mainTable {
        font-size: 0.7rem;
    }

    #secondaryTable td {
        font-size: 0.6rem;
        
    }
    

}


@media (max-width: 775px) {
    #creaturesContainer {
        grid-template-columns: repeat(3, 1fr);
    }

}


@media (max-width: 575px) {
    #creaturesContainer {
        grid-template-columns: repeat(2, 1fr);
        
    }

    #filter-creature {
        transform: translate(-50%,-50%);
        left: 50%;

    }

}