@import url(menu-izquierdo.css);
@import url(loader.css);
@import url(menu-derecho.css);
@import url(contact-page.css);
@import url(nav-menu.css);


@font-face {
    font-family: 'Vaspera';
    src: url('../assets/media/vespera-font/Vespera-pg4j1.ttf') format('truetype'); /* Ajusta la ruta según la ubicación real */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Seagram';
    src: url('../assets/fonts/Seagram\ tfb.ttf') format('truetype'); /* Ajusta la ruta según la ubicación real */
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

input:invalid {
    background-color: #ce8087;
    transition: background-color 0.3s ease;
}

input {
    background-color: white;
    transition: background-color 0.3s ease;
}


input, select{
    border-radius: 4px;
    border-color: transparent;
    margin: 2px;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    min-height: 2500px;
    min-width: 400px;
    position: absolute;
    background-color: #041020;
    font-family: Verdana, sans-serif;
    overflow-x: hidden;

}

main {
    width: 100vw;
    height: 100vh;
    min-height: 2500px;

}

header {
    text-align: center;
    color: #a52a2a;
    background-color: rgb(17 27 37);
    margin: 0;
    padding: 0;
    z-index: 15;
    top: 0;
    position: sticky;
    width: 100%;
    height: 155px;
    font-family: 'Seagram', serif;
    font-size: 1.8rem;
    padding-top: 20px;
    transition: 0.5ms ease-in-out;
    
}

.logo-text {
    position: relative;
    width: 100%;
    top: 75px;
    background-color: rgb(17 27 37);
}

.logo-text {
    -webkit-text-stroke: 0.1px rgb(218, 206, 154);
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style-type:none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul, ol {
    padding: 0;
    margin: 0;
}



button {
    background-color: brown;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    padding: 7px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid brown;
    color: brown;
}



.body-background {
    object-fit: cover;
    position: fixed;
    display: flex;
    z-index: -1;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);

}



.contenedor-informacion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 245, 220, 0.596);
    border-radius: 4px;
    max-width:1100px;
    min-height: 2000px;
    height: 115vh;
    width: 65%;
    padding: 20px;
    justify-items: center;
    color: #382309  ;
}

.contenedor-informacion h2 {
    text-align: center;
}


.contenedor-informacion p::first-letter {
    font-size: 2em; /* Tamaño grande para la primera letra */
    font-weight: bold;
    line-height: 1;
    font-family: "Georgia", serif; /* Fuente clásica */
}



#maintenancePage {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    text-align: center;
}

#maintenancePage div {
    background-color: brown;
    padding: 20px;
    border-radius: 4px;
}

#closeMaintenance {
    background-color: rgb(100, 0, 0);
    border-radius: 4px;
    padding: 5px;
    box-shadow: none;
    color: #cecece;
}





#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay.hidden {
    display: none;
}

#overlay-content {
    position: relative;
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

#full-mapper {
    width: 100%;
    height: 100%;
    border: none;
}

#close-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


footer {
    position: absolute;
    display: block;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, 0%);
    left: 50%;
    bottom: -5%;
    height: 100px;
    width: 100%;
    color: #cecece;
    background-color: rgb(100, 0, 0);
    border: 3px solid brown;
    align-content: center;
    margin: 0;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.tibia, .contact, .terms-conditions {
    position: relative;
    text-decoration: none;
}

.tibia::after,
.contact::after, .terms-conditions::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
}

.tibia:hover::after,
.contact:hover::after, .terms-conditions:hover::after {
    transform: scaleX(1);
}
    


#footer img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: transform 0.5s ease;
    margin: 0;
}

/*Iframe mapper*/
#iframe-mapper {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 300px;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 8px;
    z-index: 10;
}



@media (max-width: 1280px) {
    .contenedor-izquierdo {
    transform: translateX(-100%);
    }

    .section-hamburguesa {
        display: block;
    }
    

    .menu-hamburguesa {
    display: block;
    }

    .search-Bar {
        min-width: 40px;
        min-height: 40px;
        left: 40%;
        background-color: #ccbb9e80;
        border: 2px solid;
        z-index: 5;
        align-items: center;
        border-radius: 5px;
        display: inline-flex;
        transition: transform 0.3s ease; /* Desplazamiento suave */
    }

    .lupa {
        cursor: pointer;
    }

    nav {
        font-size: 0.8rem;
        height: 55px;
    }
    

    .search {
        display: none;
        opacity: 0;
        z-index: 101;
        width: 70%;
        transition: width 0.5s ease, opacity 0.5s ease;
    }

    .search-Bar.active {
        transform: translateX(-200px); /* Ajusta este valor para mover el contenedor */
    }
    
    .search.active {
        width: 180px; /* Ancho deseado de la barra de búsqueda */
        opacity: 1;
        display: block;
        margin: 5px;
    }

    
    .contenedorMenu {
        width: 237px;
        height: 400px;
        background-color: #ccbb9e;
        border: 2px solid;
        border-radius: 4px;
        top: 28%;
        left: 76.7%;
        display: none;
    }

    .overlay {
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 10;
        transition: opacity 0.5s;
    }

    .overlay.active {
        display: flex;
    }


    /* Ajusta las imágenes dentro de la galería */
    .gallery img {
        width: 90%; /* Haz que las imágenes sean más pequeñas */
        margin: 0 auto; /* Centra las imágenes horizontalmente */
    }

    /* Ajusta el overlay */
    .overlay img {
        max-width: 80%; /* Reduce la imagen expandida en pantallas pequeñas */
        max-height: 80%; /* Mantén las proporciones */
    }

    /* Ajusta botones de navegación */
    .nav-btn {
        font-size: 1.5rem; /* Reduce el tamaño de las flechas */
    }

    .menu-dinamico {
        display: grid;
    }

    .contenedor-informacion {
        width: 75%;
    }

    footer {
        bottom: -45%;
    }
    
}


@media (max-width: 900px) {

    body {
        min-height: 1800px;
    }

    .menu-dinamico {
        left: 20%;
    }
    
    .body-background {
        position: fixed;
        top: 60%;
    }

    .contenedor-informacion {
        left: 47%;
        top: 70%;
        width: 80%;
    }

    .contenedor-izquierdo {
        top: 13%;
    }

    .search-Bar {
        left: 20%;
    }


}

@media (max-width: 575px) {
    #tips-nav {
        display: none;
    }

    #tips-menu {
        display: block;
    }

    .contenedor-informacion {
        left: 45%;
        transition: width 0.5s ease, opacity 0.5s ease;
        width: 75%;
    }

    .menu-dinamico {
        left: 10%;
    }

    .contenedor-izquierdo {
        top: 12%;
    }

    .search-Bar {
        left: 10%;
    }


}
